---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables

//Lato: 900 400, 300italic;
$base-font-family: "Lato", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: 10px;
$base-line-height: 1.5;

$spacing-unit: 5%;

//charcol
$text-color: #4A4A4A;
//light grey
$background-color: #EDECEC;
//golden orange
$brand-color: #F5A623;
//teal
$brand-color-teal: #50E3DA;

$grey-color: #4A4A4A;
$grey-color-light: #d5d5d5;
$grey-color-dark: #939294;

// Width of the content area
$content-width:    950px;

//media size
$on-small:         400px;
$on-medium:        550px;
$on-large:         950px;

//remove?
$on-palm:          600px;
$on-laptop:        950px;

// Use media queries like this:
// @include media-query($on-small) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
