/* ---------------------------------------------------------------------
Contact Section
--------------------------------------------------------------------- */

.contact-more {
  overflow: auto;
  height: 200px;
}

.contact-more__title {
  padding: 25px;
  text-align: center;
}