/* work-samples
----------------*/

//TODO: SMACSS: module-sample-gallery
//BEM: gallery
//BREAKDOWN
.gallery {
    position: relative;
    //margin: $spacing-unit 0;
    min-height: 400px;
    
    &:hover {
        // move image up
    }
}

.gallery__item {
    position: relative;
    list-style-type: none;
    margin: $spacing-unit/2;
    padding: $spacing-unit/2;
}

.gallery__item-image{
    position: relative;
    right: 0px;
    bottom: 0px;
    border: 2px black solid;
    margin: $spacing-unit/2;
}