/* ---------------------------------------------------------------------
Header
--------------------------------------------------------------------- */
.about-pic {
    width: 300px;
    border: 5px solid green;
}

.about {
    background-color:red;
}