/* ---------------------------------------------------------------------
Header
--------------------------------------------------------------------- */

header {
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 90px;
    box-shadow: 0px 1px 2px $text-color-light;
    background: #fff;
}

.site-logo {
    position: fixed;
    margin-top: 5px;
    margin-left: $spacing-unit/2;
    height: 63px;
}

@include media-query($on-medium) {

}