/* ---------------------------------------------------------------------
Hero styles
--------------------------------------------------------------------- */

.hero-content {
  background-image: url("/assets/concrete/concrete_wall_2.png");
  background-color: $background-color;
  overflow: auto;
  padding: 150px 25px 75px 25px;
}

.about-pic {
    width: 300px;
}

.about {
}