<section class="page__body">
  <!--Border-->
  <div>
    <div class="frame">
      <div class="corner corner__left"></div>
      <div class="corner corner__right"></div>
      <div class="corner corner__left--bottom"></div>
      <div class="corner corner__right--bottom"></div>
    </div>
  </dvi>
  <!--End Border-->
  <div class="message">
    <h1 class="message__name--first">Sarah</h1>
    <p class="message__text">Hello, I am Sarah Binion! Currently, I am a front-end developer at the <a href="https://www.nerdery.com">Nerdery</a>. Checkout my samples on <a href="http://codepen.io/srhbinion">CodePen</a>, see my resume on <a href="https://www.linkedin.com/in/sarahbinion">LinkedIn</a>, or send me a <a href="https://twitter.com/srhbinion">tweet</a>.</p>
</div>
</section>