.description__text {
    border-left: 1px solid white; 
    margin-left: 2rem; 
    margin-top: 1.2rem; 
    padding-left: 1rem; 
}
  
@media (max-width: 600px) {
    .description__text {
        border-left: none; 
        line-height: 1; 
        margin-left: 0; 
        margin-top: 0; 
        padding-left: 0; 
    }
}