/**
 * Site header
 */
.site-header {
    min-height: 100px;

    
    // Positioning context for the mobile navigation icon
}

/* Logo */
.site-title img {
    margin-left: 7.5%;
    padding: 1% 2%;
    width: 125px;
}

/* hello text */
.site-welcome {
    background-color: $background-color;
    background-image: url("/assets/concrete/concrete_wall_2.png");
    height: 400px;
    margin: -100px 0 0 0;
    padding-top: 20%;
    padding-left: 13.5%;
    
    p {
        font-size: 1.45em;
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    margin-right: $spacing-unit;
    
    .menu-icon {
        display: none;
        padding: 0%;
        
    }

    .page-link {
        display: inline-block;
        margin-top: 12%;
        margin-right: 20px;
        padding-top: 5%;
        color: $text-color;
        line-height: $base-line-height;

        &:last-child {
            border-radius: 2px;
            background-color: $brand-color-teal;
            color: #fff;
            margin: 0px;
            padding: 10px;
            
            &:hover {
                text-decoration: none;
                background-color: darken($brand-color-teal, 25%);
            }
            

        }

    }

    @include media-query($on-small) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: left;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }

}

/**
 * Page content
 */
.page-content {
    padding: 0 $spacing-unit $spacing-unit $spacing-unit;
    border-bottom: 1px solid $grey-color-light;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * work-samples
 */

.content {
    margin: auto 0;
    width: 100%;
    list-style-type: none;
    background-color: #fff;
}

.sample-post {
    margin: $spacing-unit 0;
    border-bottom: 1px solid $grey-color-light;
    min-height:250px;

    &:hover {
        // move image up
    }

    ul {
        position: relative;
        list-style-type: none;
        float: left;

        li {
            margin: 0;

            &:last-child {
                position: inherit;
                top: 50px;
            }
        }
    }
}

.sample-text {
    width: 60%;
}

/**
 * Site footer
 */
.site-footer {
    background-color: $grey-color-light;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-large) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-small) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}