/**
 * Button
----------------*/

button {
    width: 150px;
    height: 44px;
    border: 1px solid $highlight-color;
    border-radius: 0.2em;
    background-color: $highlight-color;
    color: #fff;

    &:hover {
        background-color: $highlight-color-dark;
        border-color: $highlight-color-dark;
    }
}