/* ---------------------------------------------------------------------
Button
--------------------------------------------------------------------- */

.button {
    border-radius: 0.2em;
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    float: right;
    background-color: $brand-color;
    border: 1px solid $brand-color;

    &:hover {
        background-color: $highlight-color-dark;
        border-color: $highlight-color-dark;
        text-decoration: none;
    }
    
    &:visited {
        color: #fff; 
    }

    @include media-query($on-medium) {
        width: 90%;
        text-align: center;
    }
}

.contact-more__button {
    width: 150px;
    border-radius: 0.2em;
    padding: 15px;
    color: #fff;
    background-color: $brand-color;
    border: 1px solid $brand-color;
    margin-left: 23%;

    &:hover {
        background-color: $brand-color-dark;
        border-color: $brand-color-dark;
        text-decoration: none;
    }
    
    &:visited {
        color: #fff; 
    }
}