/**
 * Headings
-------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    color: $text-color;
}

h1 {
    font-family: "$bold-font-family", sans-serif;
    font-size: 2.625em;
    font-weight: 900;
}

h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 1em;
    font-weight: 900;
    color:$brand-color;
}

h4 {
    font-size: 1em;
    font-weight: 900;
    color:$brand-color;
}

p {
    font-size: 1em;
}