/* ---------------------------------------------------------------------
Headings
--------------------------------------------------------------------- */
header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 1%;
    background: #fff;
    box-shadow: 0px 1px 2px $text-color-light;
}

body {
    position: relative;
    margin: 90px 0 125px 0;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 1%;
    background: $brand-color-dark;
    border-top: 1px solid $text-color-light;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    color: $text-color;
}

h1 {
    font-size: 3.142em;
    /* 44px / 14px = 3.142 */
    font-weight: 900;
}

h2 {
    font-size: 1.714em;
    /* 24px / 14px = 1.714 */
    font-weight: 900;
}

h3 {
    font-size: 1.285em;
    /* 18px / 14px = 1.285 */
    font-weight: 900;
}

h4 {
    font-size: 1em;
    /* 12px / 14px = 0.8571 */
    font-weight: 100;
}

p {
    font-size: 0.8571em;
    /* 12px / 14px = 0.8571 */
}