/* Colors
----------------*/

//teal
$brand-color-teal: #50E3DA;

$grey-color: purple;
$grey-color-light: #d5d5d5;
$grey-color-dark: #939294;





//teal
$brand-color: #177E89;
//peacock
$brand-color-dark: #084c61;

//goldenrod
$highlight-color: #FFC857;
//fire-orange
$highlight-color-dark: #DB3A34;

//light grey
$background-color: #EDECEC;

//warm-grey
$text-color-light: #AFAFAF;
//cinnamon
$text-color: #33282D;
