/* Colors
----------------*/
$Rose: #F0DAD6;
//teal
$brand-color: #177E89;
//peacock
$brand-color-dark: #084c61;

//goldenrod
$highlight-color: #FFC857;
//fire-orange
$highlight-color-dark: #DB3A34;

//light grey
$background-color: #EDECEC;
//warm-grey
$text-color-light: #AFAFAF;

//cinnamon
$text-color: #33282D;