/* Colors
----------------*/
//charcole
$text-color: #4A4A4A;
//light grey
$background-color: #EDECEC;
//golden orange
$brand-color: #F5A623;
//teal
$brand-color-teal: #50E3DA;

$grey-color: #4A4A4A;
$grey-color-light: #d5d5d5;
$grey-color-dark: #939294;