/*Fonts
----------------*/
//$base-font-family: "Nunito";
$base-font-family: "Lato", sans-serif;
$base-font-weight: 400;

$base-font-size: 14pt; 

$base-line-height: 1.2857; 
/* 18px / 14px = 1.2857 */

$small-font-size: 12pt;