@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Monda");
html {
  background-color: white;
  color: #36454f;
  font-family: 'Monda', Helvetica, sans-serif; }

nav {
  position: fixed;
  width: 200px;
  margin: 1rem;
  background-color: bisque; }

.nav__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-top: -.5rem;
  flex-wrap: wrap; }
  .nav__links li a {
    text-decoration: none;
    margin-right: 1rem;
    line-height: 1;
    color: #858585;
    font-size: .85rem;
    font-style: italic; }
    .nav__links li a:hover {
      color: mediumvioletred;
      border-bottom: 1px solid violet; }
    .nav__links li a:focus {
      color: #36454f;
      color: violet; }

.nav__links--social {
  border: 1px solid #858585;
  border-radius: 50%;
  padding: 4px 8px 4px 5px;
  margin-right: 8px;
  margin-top: -1.25rem; }
  .nav__links--social:hover {
    color: white;
    background-color: mediumvioletred;
    border: 1px solid violet;
    box-shadow: 2px 3px #36454f; }
  .nav__links--social:focus {
    color: white;
    background-color: violet; }

main {
  position: relative;
  margin: 1rem 1rem 1rem 220px; }

h1 {
  font-family: 'Julius Sans One', 'Verdana', serif;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 900; }

h2 {
  font-family: 'Julius Sans One', 'Verdana', serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400; }

p {
  font-family: 'Monda', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1.8; }

.description__text {
  border-left: 1px solid white;
  margin-left: 2rem;
  margin-top: 1.2rem;
  padding-left: 1rem; }

.site {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20%; }

@media (max-width: 400px) {
  nav {
    position: relative;
    width: 100%;
    margin: 1rem; }
  main {
    position: relative;
    width: 100%;
    margin: 1rem; }
  .description__text {
    border-left: none;
    line-height: 1;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0; }
  .site {
    flex-direction: column;
    margin-top: 30%; } }
