/* ---------------------------------------------------------------------
Grid
--------------------------------------------------------------------- */
.row {
  //@import clearfix
  &:before, &:after {
    display: table;
    content: " "; 
  }
  
  &:after {
      clear: both;
  }

  float: left;
  //width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* 12 column */
.column,
.columns {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

/* For devices larger than 550px
----------------*/
@media (min-width: 550px) {
  .one      { width: 10%;}
  .two      { width: 20%;}
  .three    { width: 30%;}
  .four     { width: 40%;}
  .five     { width: 50%;}
  .six      { width: 60%;}
  .seven    { width: 70%;}
  .eight    { width: 80%;}
  .nine     { width: 90%;}
  .ten      { width: 100%;}
  .eleven   { width: 90%;}
  .twleve   { width: 100%;}
}