/* ---------------------------------------------------------------------
Gallery
--------------------------------------------------------------------- */

.gallery {
    padding-top: $spacing-unit;
    border-bottom: 1px solid $background-color;
    display: flex;

    @include media-query($on-medium) {
        display: block;
        padding-right: $spacing-unit;
        padding-bottom: $spacing-unit;
    }
}

.gallery-item {
    position: relative;
    list-style-type: none;
    justify-content: space-between;
    padding: $spacing-unit;
    padding-bottom: 0;

    @include media-query($on-medium) {
        justify-content: none;
        min-width: 200px;
        margin-bottom: $spacing-unit*2;
    }
}

.gallery-item__image {
    max-width: 350px;

    @include media-query($on-medium) {
        display: none;

    }
}