/* Page content
----------------*/
.gallery-content {
    padding: 0 $spacing-unit;
}

.content {
    position: relative;
    margin: auto 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    //background-color: yellow;
}