/*---------------------------------------------------------------------
Sections
---------------------------------------------------------------------*/
header {
  position: fixed;
  width: 100%;
  top: 0px;
  background: $Rose;
  box-shadow: 0px 1px 2px $text-color-light;
  min-height: 90px;
}

body {
  margin-top: 90px;
  margin-bottom: 80px;
  padding-top: 10%;
  display: flex;
  border: 1px solid red;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: $brand-color-dark;
    border-top: 1px solid $text-color-light;
}