/*---------------------------------------------------------------------
Sections
---------------------------------------------------------------------*/
html {
  font: $base-font-family;
  background: $Rose;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.page__body {
  position: relative;
  flex: 8;
  border: 2px solid $Gold;
  background: $Gold url("https://www.toptal.com/designers/subtlepatterns/patterns/p5.png") repeat scroll;
  margin: 2rem 2rem 0 2rem;
}

.page__footer {
  width:100%;
  flex: 1;
}

