html { 
  background-color: black; 
  color: white; 
  font-family: Arial, Helvetica, sans-serif;
}

p { 
  border-left: 1px solid white; 
  padding-left: 1rem; 
  margin-left: 2rem; 
  margin-top: 1.2rem; 
  line-height: 1.8;
}
.site { 
  display: flex; 
  justify-content: center; 
  flex-direction: row; 
  align-items: center; 
  padding-top: 20%; 
}

@media (max-width: 400px) { 
  p { 
    border-left: none; 
    padding-left: 0; 
    margin-left: 0; 
    margin-top: 0; 
    line-height: 1; 
  }

  .site { 
    flex-direction: column; 
    margin-top: 30%; 
  }
}