@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Monda');

$dk-grey: #36454f;
$lt-grey: #858585;
$brand: orange; 
$brand--highlight: mediumvioletred;
$brand--focus: violet; 

h1 {
  font-family: 'Julius Sans One', 'Verdana', serif;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 900;
}

h2 {
  font-family: 'Julius Sans One', 'Verdana', serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
}

p {
  font-family: 'Monda', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1.8;
}